/Gradle/.nb-gradle/
/build/
/NhlStatistics1/.nb-gradle/
/RiippuvuuksienInjektointi1/.nb-gradle/
/Verkkokauppa1/.nb-gradle/
/Verkkokauppa1kopio/.nb-gradle/
/Viikko 2/NhlStatistics1/.nb-gradle/
/Viikko 2/RiippuvuuksienInjektointi1/.nb-gradle/
/Viikko 2/Verkkokauppa1/.nb-gradle/
/Viikko 2/Verkkokauppa1kopio/.nb-gradle/
/HelloCucumber/build/
/Viikko3/LoginCucumber/build/
/testproject/nbproject/private/
/testproject/build/
/Viikko4/TyhjaProjekti/.nb-gradle/
/Viikko4/TyhjaProjekti/build/
/Viikko4/WebLogin/.nb-gradle/
/Viikko5/MockitoDemo/.nb-gradle/
/Viikko5/MockitoDemo/build/
/Viikko5/MatkakorttiMockito/.nb-gradle/
/Viikko5/MatkakorttiMockito/build/
/Viikko5/VerkkokauppaSpring/.nb-gradle/
/Viikko5/VerkkokauppaSpring/build/
/Viikko5/IntJoukkoSovellus/.nb-gradle/
/Viikko5/IntJoukkoSovellus/build/
/Viikko5/Tennis/.nb-gradle/
/Viikko5/Tennis/build/
/Viikko6/Laskin/.nb-gradle/
/Viikko6/Laskin/build/
/Viikko6/QueryLanguage/.nb-gradle/
/Viikko6/QueryLanguage/build/