/Gradle/.nb-gradle/
/build/
/NhlStatistics1/.nb-gradle/
/RiippuvuuksienInjektointi1/.nb-gradle/
/Verkkokauppa1/.nb-gradle/
/Verkkokauppa1kopio/.nb-gradle/
/Viikko 2/NhlStatistics1/.nb-gradle/
/Viikko 2/RiippuvuuksienInjektointi1/.nb-gradle/
/Viikko 2/Verkkokauppa1/.nb-gradle/
/Viikko 2/Verkkokauppa1kopio/.nb-gradle/
/HelloCucumber/build/
/Viikko3/LoginCucumber/build/
/testproject/nbproject/private/
/testproject/build/
/Viikko4/TyhjaProjekti/.nb-gradle/
/Viikko4/TyhjaProjekti/build/
/Viikko4/WebLogin/.nb-gradle/