/Gradle/.nb-gradle/
/build/
/NhlStatistics1/.nb-gradle/
/RiippuvuuksienInjektointi1/.nb-gradle/
/Verkkokauppa1/.nb-gradle/
/Verkkokauppa1kopio/.nb-gradle/
/Viikko 2/NhlStatistics1/.nb-gradle/
/Viikko 2/RiippuvuuksienInjektointi1/.nb-gradle/
/Viikko 2/Verkkokauppa1/.nb-gradle/
/Viikko 2/Verkkokauppa1kopio/.nb-gradle/
